<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/gamestyles.css">
</head>
<body>
    <div class="container">
        <div class="card-board">
            <table id="cards">
                <tbody id = "lottery">

                </tbody>
            </table>
        </div>
        <div class="card-container">
            <div id="current-card">
                
            </div>
            <button id="sing-lottery" class="btn-action">
                Cantar cartas
            </button>
        </div>
        <div class="button-container">
            <button id="search-card" class="btn-action">
                Buscar carta
            </button>
            <button id="add-card" class="btn-action">
                Agregar carta
            </button>
        </div>
        <div id="modal-card" class="modal">
            <div id="modal-card-img" class="modal-content">
                <span id="close-modal" class="close-modal">&times;</span>
                <h2>Carta encontrada:</h2>
                <div id="found-card">

                </div>
            </div>
        </div>

        <div id="modal-form" class="modal">
            <div id="modal-form-content" class="modal-content">
                <span id="close-form" class="close-modal">&times;</span>
                <h2>Agregar carta:</h2>
                <form id="form-card">
                    <label for="new-card-name">Nombre:</label>
                    <input type="text" id="new-card-name" name="new-card-name" required>
                    <label for="new-card-img">Imagen:</label>
                    <input type="file" name="new-card-img" id="new-card-img">
                    <button type="submit" class="btn-action">Agregar</button>
                </form>
            </div>
        </div>

    </div>
</body>
<script src="../js/lottery.js "></script>
</html>