<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/gameStyles.css">
</head>
<body>
    <div class="container">
        <div class="card-board">
            <table id="cards">
                <tbody id = "lottery">

                </tbody>
            </table>
        </div>
        <div class="button-container">
            <button id="sing-cards" class="btn-action">
                Cantar cartas
            </button>
            <button id="search-card" class="btn-action">
                Buscar carta
            </button>
        </div>
    </div>
</body>
<script src="../js/game.js "></script>
</html>